<footer class="footer py-5">
  <div class="container">
    <div class="row">
      <div class="text-center">
        <h6 class="font-weight-light mb-4">Students Task Manager</h6>
      </div>
      <div class="col-lg-8 mx-auto justify-content-center text-center mb-4 mt-2">
        <a href="https://twitter.com/AnnaKabatova1" target="_blank" class="text-secondary me-xl-4 me-4">
          <span class="text-lg fab fa-twitter"></span>
        </a>
        <a href="https://github.com/AnnaKabatova" target="_blank" class="text-secondary me-xl-4 me-4">
          <span class="text-lg fab fa-github"></span>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-8 mx-auto text-center mt-1">
        <p class="mb-0 text-secondary">
          &copy; Coded by Anna Kabatova
        </p>
      </div>
    </div>
  </div>
</footer>
